@import 'src/styles/variables';

.Categories {
  padding: $base-margin 0;
  min-height: $medium-font;

  div {
    display: inline;
  }

  h6 {
    display: inline;
    margin: 0 8px;

    &.common {
      font-weight: 400;
      color: rgba(0,0,0,0.5);
    }

    &.last {
      font-weight: 600;
      color: rgba(0,0,0,0.7);
    }
  }



  .arrow {
    display: inline;
  }
}
