
$base-margin: 16px;
$double-margin: $base-margin * 2;


$smallest-font: 12px;
$product-description-text-size: 16px;
$small-font: 18px;
$medium-font: 24px;
$product-description-title: 28px;
$price-font-size: 46px;

$product-detail-image-max-size: 680px;
$product-thumbnail-size: 180px;
$border-radius: 4px;

$meli-brand-color: #FFE600;
$darkest: #333333;
$dark: #666666;
$gray: #999999;
$button-buy-color: #3483FA;
$button-text-color: white;
