@import 'src/styles/variables';
@import 'src/styles/common';

.WhiteBox {
  background-color: white;
  height: 100%;
  display: flow-root;
  margin-bottom: $double-margin;
  border-radius: $border-radius;

  .Message {
    position: relative !important;

    p {
      text-align: center;
      font-size: 24px;
      height: 100%;
      width: 100%;
      position: relative;
      margin-top: 15%;
      margin-bottom:  15%;
    }
  }

  -webkit-box-shadow: 0px 0px 20px -4px rgba(153,153,153,0.2);
  -moz-box-shadow: 0px 0px 20px -4px rgba(153,153,153,0.2);
  box-shadow: 0px 0px 20px -4px rgba(153,153,153,0.2);
}
